.single-service-body {
    background-color: rgba(50, 140, 98, 0.073);
}
.take-service-btn{
    display: none;
}

.single-service-body:hover .take-service-btn{
    display: flex;
}
.take-service-btn button:active{
   background-color: green;
}

.take-service-btn{
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    height: 1%;
  }

  to {
    height: 150px;
  }
}
