body{
    margin: 0;
    padding: 0;
}
section{
    margin: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    /* height: 500px; */
    /* margin: 0 auto; */
    /* background-color:bisque; */
}

.left , .right{
    width: 40%;
    padding: 20px 40px;
    /* width: 500px; */
    /* background-color: aqua;
    border: 5px solid black;
    border-radius: 20px; */
}
.sub-left{
    border-left: 5px solid #FF5959 ;
    padding:0px 15px;
}
#my-mission-h1, #mission-heading{
    color:rgb(49, 2, 2);
    font-size: 50px;

}
#mission2020{
color:rgb(248, 178, 87);
font-size: 40px;

}

.sub-right{
    width: 80%;
}
.sub-right img{
    width: 100%;
    height: 500px;  
    
}
p{
    text-align: justify;
    line-height: 130%;
    font-size:20px;

    
}
.btn-link{
    padding: 10px 20px;
    margin: 20px 0px;
    background-color: #FF5959;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}
.btn-link:hover{
    box-shadow: 5px 10px 18px #888888;
}


#my-mission{
    display:block;
    text-align: center;
}
span{
    color: rgb(248, 178, 87);
}
.missions{
  display: flex;
   
}
.missions-list{
    display: block;
    padding: 10px 20px;
    width: 30%;
    margin: 5px 15px;
    justify-content: space-between;
    border-radius: 10%;
}
#sub-mission-heading{
text-align: start;}

.missions-image{
    width: 40%;
}
.missions-image img{
width: 100%;
}
#mission{
    background-color: #EDF5F6;
}
#vission{
    background-color: #FFEEEE;
}
#goal{
    background-color: #FFF5D6;
}


#third-section-id{
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px 300px;
    /* background-color: #FF5959; */

}
.forth-section{
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px 350px;
    /* background-color: #FF5959; */

}




.last-section{
    display: flex;
}

.origin{
    border-radius: 50%;
    box-shadow: 10px  10px rgb(216, 162, 47);
}
.ourofthebox{
    border-radius: 25px;
    /* box-shadow: 10px  10px rgb(216, 162, 47); */
}






footer{
    background-color: black;
}
.footer-items{
padding: 10px 5px;
}
.footer-items span{
color:#FF5959
}
.footer-items h1{
    text-align: center;
    color: white;
    font-style: italic;
}
.footer-items p{
    text-align: center;
    color: white;
}