nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    letter-spacing: 0.15rem;
    background-color: rgba(119, 127, 128, 0.24);
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
}