.reviewItem-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
}
.left-side{
     display: flex;
     align-items: center;
}
.reviewItem-container h3,h4{
    margin: 3px;
}
.reviewItem-container span{
    color: rgba(223, 147, 6, 0.883);
}

.delete-btn{
    background-color: rgba(226, 32, 32, 0.308);
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.delete-icon{
    color: rgb(177, 4, 4);
    font-size: 25px;
}