.single-cart-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    background-color: rgba(169, 169, 169, 0.383);
    padding: 3px 5px;
    border-radius: 25px;
    margin: 10px 3px;

}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.remove-btn{
    color: rgb(255, 0, 0);
    background-color: rgba(241, 8, 8, 0.308);
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}