.appointment-form{
    background-color: #1b3448;
    /* opacity: 20%; */
}
.appointment-form label{
    margin-top: 20px;
    color: whitesmoke;
    font-size: large;
}
.appointment-form input{
    background-color: #365871;
    font-size:x-large;
    color:#cecb5e
}
.appointment-form .submit-btn{
   background-color: rgb(104, 101, 0);
   border-radius: 10px;
   color: rgb(240, 223, 99);
}
.appointment-form .submit-btn:active{
   background-color: rgb(71, 69, 4);
   border-radius: 10px;
   
}