.blog-img {
    background-image: url(../../img/blogBanner.jpg);
}

.container-banner {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}