form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(70, 77, 137, 0.972);
    margin: 0 auto;
    padding: 10px;

}
form input{
    
    margin: 5px auto;
    width: 95%;
    font-size: larger;
}