.product{
    margin: 20px;
    padding:20px;
    border-radius: 30px;
    background-color: rgb(228, 189, 139);
}
button{
    padding:10px;
    background-color: rgb(81, 81, 241);
    color: white;
    font-weight: 900;
    font-size: larger;
}